Host *
  UseRoaming no

Host bastion.fedoraproject.org
  User maxamillion
  ProxyCommand none
  ForwardAgent no
  VerifyHostKeyDNS yes

Host *.phx2.fedoraproject.org *.qa.fedoraproject.org 10.5.125.* 10.5.126.* 10.5.127.* *.vpn.fedoraproject.org *.arm.fedoraproject.org
  User maxamillion
  ProxyCommand ssh -W %h:%p bastion.fedoraproject.org
  VerifyHostKeyDNS yes
Host *.fedorainfracloud.org
  User maxamillion
  ForwardAgent no
Host *.scrye.com
  ForwardAgent no
Host *.amazonaws.com
  User root
  StrictHostKeyChecking no
  PasswordAuthentication no
  UserKnownHostsFile ~/.ssh/aws_known_hosts
  #IdentityFile ~/.ssh/libra.pem
  IdentityFile ~/.ssh/id_rsa
  ServerAliveInterval 120
  TCPKeepAlive yes
Host 192.168.122.*
  StrictHostKeyChecking no
  #PasswordAuthentication no
  UserKnownHostsFile ~/.ssh/local_known_hosts
  ServerAliveInterval 120
  TCPKeepAlive yes
Host ctl1.ops.rhcloud.com
  SendEnv DYNECT_USER_NAME DYNECT_PASSWORD AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY
  ForwardAgent yes
Host *.pagekite.me
  CheckHostIP no
  ProxyCommand /usr/bin/corkscrew %h 443 %h %p
Host *.rhcloud.com
  StrictHostKeyChecking no
  ServerAliveInterval 120
  TCPKeepAlive yes
Host sebastian
  HostName ovpn-phx2.redhat.com
  Port 330
  User admiller
  LocalForward 2227 devserv.devel.redhat.com:991
  LocalForward 2228 squid.redhat.com:3128
  ControlMaster yes
  ControlPath /tmp/rhat_ssh
  DynamicForward 9999
Host jhancock
  Hostname jhancock.ose.phx2.redhat.com
  SendEnv DYNECT_USER_NAME DYNECT_PASSWORD AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY
  ServerAliveInterval 120
  ForwardAgent yes
  TCPKeepAlive yes
  User admiller
Host maxamillion
  Hostname maxamillion.sh
  ServerAliveInterval 120
  ForwardAgent yes
  TCPKeepAlive no
  PermitLocalCommand yes
#  LocalCommand ~/bin/irssi-fnotify.sh --start %r@%h
  User admiller
Host file.rdu
  Hostname file.rdu.redhat.com
  ServerAliveInterval 120
  ForwardAgent yes
  TCPKeepAlive yes
  PermitLocalCommand yes
#  LocalCommand ~/bin/irssi-fnotify.sh --start %r@%h
  User admiller
Host optiplex3060m
  HostName 192.168.218.105
  User root
  ServerAliveInterval 120
  TCPKeepAlive yes
Host optiplex3050m
  HostName 192.168.218.101
  User root
  ServerAliveInterval 120
  TCPKeepAlive yes
Host optiplex3040t
  HostName 192.168.218.102
  User root
  ServerAliveInterval 120
  TCPKeepAlive yes
Host t470s
  HostName 192.168.218.103
  User root
  ServerAliveInterval 120
  TCPKeepAlive yes
Host starlitemk2
  HostName 192.168.218.104
  User root
  ServerAliveInterval 120
  TCPKeepAlive yes
Host rhel8
  HostName 192.168.122.100
  User admiller
  ServerAliveInterval 120
  TCPKeepAlive yes
  ForwardAgent yes
  ForwardX11 yes
Host docker
  HostName 192.168.122.140
  User root
  ServerAliveInterval 120
  TCPKeepAlive yes
  ForwardAgent yes
  ForwardX11 yes
